
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap





td { 
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
}

.hoverWhite{
  color:#d9dde2;
  cursor: pointer;
}

.hoverWhite:hover {
  color:white !important;
}


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.activeSubLink {
  background-color: #1B1B28 !important;
}

.bigIcons {
	font-size:1.7rem;
}

.darkGray {
  color:black !important;
}

.myFondoDELETETHISFORUSE {
   
  background: rgba(30,30,45,1);
background: -moz-linear-gradient(left, rgba(30,30,45,1) 0%, rgba(16,101,199,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(30,30,45,1)), color-stop(100%, rgba(16,101,199,1)));
background: -webkit-linear-gradient(left, rgba(30,30,45,1) 0%, rgba(16,101,199,1) 100%);
background: -o-linear-gradient(left, rgba(30,30,45,1) 0%, rgba(16,101,199,1) 100%);
background: -ms-linear-gradient(left, rgba(30,30,45,1) 0%, rgba(16,101,199,1) 100%);
background: linear-gradient(to right, rgba(30,30,45,1) 0%, rgba(16,101,199,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e2d', endColorstr='#1065c7', GradientType=1 );
}

