
$blue: #1867C0;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$primary:   #1976D2;
$secondary: #424242;
$accent:    #82B1FF;
$error:     #FF5252;
$info:      #2196F3;
$success:   #4CAF50;
$warning:   #FFC107;

a.button, a.tp-button, button, input[type="submit"], input[type="reset"], input[type="button"] {


  padding: 0 !important;
}

.container {
  padding-top:0 !important;
}

a.button, a.tp-button, button, input[type="submit"], input[type="reset"], input[type="button"] {

  box-shadow: none !important;
        background-image: none !important; 
}